body{
    background-color: #1d232f;
    font-family: 'Oswald', sans-serif;
}

main{
    display: grid;
}

p, 
.lista{
    font-size: 20px;
    font-weight: lighter;
    margin: 0% 3% 1%;
    color: #ffffff;
}

.header{
    background-color: black;
}

.titulo2{
    font-size: xx-large;
}

.resaltado{
    color: #2fdf75;
    font-weight: bold;
}

.titulos{
    margin-left: 3%;
    margin-right: 3%;
    display: inline-block;
}

.boton{
    display: block;
    width: 9ch;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-decoration: none;
}

.hidden{
    display: none;
}

.titulo1, 
.lista1{
    color: white;
}

.article{
    background-color: #2e2e2e;
    border: 1px solid #ffffff;
}

.boton1{
    color: #2e2e2e;
    background-color: #2fdf75;
    border: 10px solid #2e2e2e;
}

.boton2{
    color: #eeeeee;
    background-color: #008fd4;
    border: 10px solid #2e2e2e;
}

.boton3{
    color: #2e2e2e;
    background-color: #ffc409;
    border: 10px solid #2e2e2e;
}

.resaltado2{
    color: #008fd4;
    font-weight: bold;
}

.lista li{
    line-height: 1.5;
}

.ejercicio1 h2{
    color: #0abf53;
}

.ejercicio2 h2,
.ejercicio3 h2{
    color: #008fd4;
}

.lista li::marker{
    font-weight: bold;
}

.lista1 li::marker{
    color: #0abf53;
}

.lista2 li::marker,
.lista3 li:nth-child(odd)::marker{
    color: #008fd4;
}

.lista3 li:nth-child(even)::marker,
.ejercicio3 h2 span{
    color: #ffc409;
}